h1 {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

nav {
    width: 16%;
    position: fixed;
    height: 100%;
    top:0%;
   display: block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: aqua;
    align-self: center;
    border-radius: 5px;
}

nav ul {
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

li {
    text-align: center;
    display: block;
    font-size: large;
    color: black;
    text-align: center;
    padding: 14px 16px;
    
}


li:hover {
    background-color: #261bb7;
}

article {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}